APPLICATION_ID=123234132
DISCORD_BOT_PUBLIC_KEY=12312321312
DISCORD_BOT_TOKEN=ABCDEF.GHIJKL.MNOPQR
DISCORD_BOT_OAUTH2_GENERATED_URL=https://discord.com/oauth2/authorize?client_id=123234132&permissions=8&integration_type=0&scope=applications.commands+bot